<div class="totalComponent">
  <header>
    <nav class="navigat" style="position: fixed; z-index: 3">
      <div class="imageNaviagtion" style="text-align: center">
        <h2 style="color: rgb(234, 161, 15); margin-bottom: 5px">
          PROGRAMMERS CODE
        </h2>
        <p style="color: white; margin: 0px">Make sense any code, anytime</p>
      </div>
      <div
        style="
          position: absolute;
          display: flex;
          color: white;
          right: 15px;
          bottom: 0px;
        "
      >
        <img
          src="../assets/openai-avatar.png"
          style="padding-bottom: 5px"
          height="35px"
        />
        &nbsp;

        <p style="margin: 0px; padding-top: 4px; font-size: 16px">
          powered by chatGPT
        </p>
      </div>
    </nav>
  </header>
  <br /><br /><br />
  <br /><br />
  <div style="display: flex; justify-content: center">
    <ul class="content">
      <li class="mainTextLink">
        <a routerLink="/generateCode" routerLinkActive="active"
          >Generate Code</a
        >
      </li>
      &nbsp;&nbsp;
      <li class="mainTextLink">
        <a routerLink="/writeCode" routerLinkActive="active">Write Code</a>
      </li>
    </ul>
  </div>
  <br /><br />
  <router-outlet></router-outlet>
</div>
